body{
	font-family:'Trebuchet MS';
	background-color: #FCFCFC;
}


.headtext{
	font-size: 18.90vw;
	margin-left: 5.5vw; 
	color:#E05206;
	font-weight: 600;
	line-height: 1;
	margin-top: 25vw;
		margin-block-end: 0px;
}

h1{
	font-size: 10vw;
	color: #5E6A71;
	font-weight:400;
	margin-left: 5.5vw;
	margin-right: 5.5vw;
	margin-top: 4.5vw;
	margin-block-end: 0px;
}

.cityleft{

width:100%;
}



.line{
	height:2px;
	background-color: #E2E2E2;
	border-radius:10px;
	position:relative;
	
}

.city{
}

.sectionhead{
	text-align: center;
	font-size:10.5vw;
	color: #5E6A71;
	margin-left:5.5vw;
	margin-right:5.5vw;
	margin-top: 11vw;
}

.copy{
	font-size: 4.5vw;
	line-height: 1.3;
	margin:5.5vw;
	color: #5E6A71;
}

.arrows{
	color: #5E6A71;
	font-size:5vw;
	list-style-image: url('arrowbullet4.svg');
	margin-left: 16vw;
	
}

.five{
	width:100%;
}

.fivep{
	font-size: 5vw;
	color:#5E6A71;
	margin:20px;
	text-align: center;
}

.shield{
	text-align: center;
	width:80%;
	margin-left:10%;
}

.break{
	height:3px;
	width:90%;
	margin-left:5%;
	margin-top:50px;
	border-radius:10px;
	background-color:#e2e2e2;
	
}

li{
	margin-top: 1.5vw;
	margin-bottom: 1vw;
	margin-left:1vw;


}

li span{
	margin-top: 1.5vw;
	margin-bottom: 1vw;
	margin-left:1vw;

}




form{
	text-align: center;
	padding: 0px;
		margin-left: 5.5vw;
		margin-right: 5.5vw;

}

	.codebox{

	text-align: center;

	  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 5vw;
  background-color: white;
  padding: 3vw 5vw 3vw 5vw;
  box-shadow: 0px 3px 13px #DCDCDC;
		margin-top: 4.5vw;
			height:16vw;

	}

.find{
  padding: 3vw 5vw 3vw 5vw;
	width:100%;
	height:16vw;
	border-width: 0px;
	border-radius: 4px;
	color:white;
	background-color: #E05206;
	font-size: 5vw;
	font-weight: 100;
margin-top: 4.5vw;
	box-shadow: 0px 3px 13px rgba(224,82,6,0.52);
	cursor: pointer;


			
}

.login{
		margin-top:4vw;
	margin-bottom:-4vw;
		font-size:4vw;
	text-align: center;
		color:#5E6A71;
	}

.head{
	height:20vw;
	background-color:#E05206;
	position:fixed;
	width:100%;
	top: 0vw;
	left: 0vw;
}

.headimg{
	margin-left:5.5vw;
	height:11.5vw;
	margin-top:4vw;
}
